@import "bootstrap/variables.less";
@import "bootstrap/bootstrap.less";

@nav-color: #E6A308;
@orange: #C64200;
@main-white: #F3F3F3;
@yellow: #F7F112;
@links-orange: #D14501;
@player-height: 70px;

@font-face {
    font-family: 'VladimirScript';
    src: url('../fonts/vladimir-webfont.eot');
    src: url('../fonts/vladimir-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vladimir-webfont.woff2') format('woff2'),
         url('../fonts/vladimir-webfont.woff') format('woff'),
         url('../fonts/vladimir-webfont.ttf') format('truetype'),
         url('../fonts/vladimir-webfont.svg#vladimir_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* {
	outline: none!important;
}

body {
	background: @main-white;
}

svg,
img {
	max-width: 100%;
	max-height: 100%;
}

#header-menu {
	background: @nav-color url(../../assets/img/noise.png) repeat;
	border-bottom: @yellow 1px solid;
	box-shadow: @links-orange 0 2px;

	> ul {
		text-align: center;
		float: none;
		max-width: 312px;
		margin: 0 auto;

		> li {
			
			a {
				color: @links-orange;
				font-weight: 700;
				border-left: rgba(209, 69, 1, .5) 1px solid;
				border-right: rgba(247, 241, 18, .5) 1px solid;
				transition: all ease-in-out .1s;
				
				&:hover,
				&:active,
				&:focus {
					background-color: rgba(247, 241, 18, .2);
					color: darken(@links-orange, 1%);
				}
			}
		}

		> li:first-child {
			a {
				box-shadow: rgba(247, 241, 18, .5) -1px 0 0;
			}
		}

		> li:last-child {
			a {
				box-shadow: rgba(209, 69, 1, .5) 1px 0 0;
			}
		}
	}
}

#logo {
	text-align: center;
	background: url(../../assets/img/pattern.png) repeat;
	margin: 2px 0 0;
	padding: 1em 0;
}

.sub-title {
	font-family: 'VladimirScript';
}

#player {
	background-color: @main-white;

	h4 {
		font-size: 3.5em;
		text-align: center;
	}

	.player {
		width: 500px;
		margin: 0 auto;
		background: @nav-color url(../../assets/img/noise.png) repeat;
		height: @player-height;
		border-radius: 2px;
		overflow: hidden;

		.controls {
			background: @orange url(../../assets/img/noise.png) repeat;
			float: left;
			width: 20%;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 2em;
			height: 100%;

			i {
				cursor: pointer;
			}
		}

		.logo {
			height: @player-height;
		}

		.info {
			display: flex;

			> div {
				flex: 1;
			}

			> div:last-child {
				text-align: right;

				img {
					max-height: 80%;
				}
			}
		}
	}
}

#news {
	.sub-title {
		color: @orange;
		font-size: 2.5em;
	}
}

#most-played {
	background: @main-white;

	.sub-title {
		font-size: 3em;
		text-align: center;

		span {
			font-size: 1.4em;
			position: relative;
			top: 10px;
		}
	}
}

#slider {
}